* {
  max-width: ;
}

body {
  text-align: left;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  font-weight: 400;
  line-height: 1.5;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

a:hover,
a:focus,
.header-logo:hover,
.header-logo:focus,
.footer-logo:hover,
.footer-logo:focus {
  color: #404bbf;
}

.header-logo-style:hover,
.header-logo-style:focus,
.footer-logo-style:hover,
.footer-logo-style:focus {
  color: inherit;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.container {
  max-width: 1158px;
  padding: 0;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* -------------HEADER----------------- */
.header-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 24px;
}

.header-navigation {
  font-weight: 500;
  color: #2e2f42;
  display: flex;
  gap: 24px;
  align-items: center;
}

.header-logo {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-style {
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-list-link {
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-contact-items {
  font-style: normal;
  color: #434455;
  letter-spacing: 0.02em;
}

/* -------------HERO----------------- */
.hero {
  background-color: #2e2f42;
  color: #ffffff;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.hero-button {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 0.04em;
  font-weight: 500;
  padding: 16px 32px;
  margin: 0 auto;
}

/* -------------ADVANTAGES----------------- */
.advantages {
  padding-bottom: 96px;
  padding-top: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-menu {
  display: flex;
  gap: 24px;
}

.advantages-menu-item {
  max-width: 264px;
}

.advantages-subtitle {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
  color: #2e2f42;
}

.advantages-text {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* -------------TEAM----------------- */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
  padding: 0px 0px 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-text {
  display: flex;
  flex-direction: column;
}

.team-name {
  display: block;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -------------PORTFOLIO----------------- */
.portfolio {
  padding: 96px 156px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 60px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-list-item {
}

.portfolio-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-subtitle {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
  color: #2e2f42;
  margin-top: 32px;
}

.portfolio-list-text {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 32px;
}

/* -------------FOOTER----------------- */
.footer {
  background-color: #2e2f42;
  padding: 100px 1020px 100px 156px;
}

.footer-container {
  width: 264px;
}

.footer-logo {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-style {
  color: #f4f4fd;
}

.footer-text {
  margin-top: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
